{% extends '../base.html' %}
{% load static %}
{% block title %}Order Failed{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
   <h3>Your Order is Failed Due to OTP Varification!</h3>
   <hr>
  <div class="mb-3">
    <p>Please Varify Correctly For Purchasing Products,Thank You!</p>
    </div>
    
    <a href="{% url 'productlist' %}" class="btn btn-primary my-4 d-flex justify-content-center">See Products</a>
    <br>
    </div>
 </div>
</div>
{% endblock main-content %}